@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
        font-family: "Urbanist", sans-serif;

}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    /* background-color: #3b3a3a; */
     background-image: linear-gradient(to bottom, grey ,#dbd5d5);
    place-items: center;
}

.lists {
    width: 500px;
    padding: 40px;
    background-color: #fff;
}

ul {
    list-style-type: decimal;
    list-style-position: inside;
}

li {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: capitalize;
    border: 2px solid black;
    /* padding: 20px; */
}