*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "jost";
}
h2{
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px,2px,5px,#000;
}
p{
    font-size: 25px;
    color: #fff;
    
}
.section-1{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    background-image:url("https://images.wallpapersden.com/image/download/avatar-the-way-of-water-hd-movie-art_bWloZWqUmZqaraWkpJRmbmdlrWZlbWU.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}
.section-2{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    background-image:url("https://images.wallpapersden.com/image/download/ironheart-actress-dominique-thorne_bmhmbWyUmZqaraWkpJRobWllrWdma2U.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}
.section-3{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    background-image:url("https://images.wallpapersden.com/image/download/zine-tseng-as-ye-wenjie-3-body-problem_bmdqbWWUmZqaraWkpJRmbmdlrWZlbWU.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}
.section-4{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    background-image:url("https://images.wallpapersden.com/image/download/marvel-spider-noir-tv-show_bmhnZWyUmZqaraWkpJRqZmdlrWdtbWU.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}