*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #ece8e8;
    display: grid;
    place-items: center;

}

.shadow{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    box-shadow: 0 0 60px 60px #ffb000 ;
}