
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 247, 247) ;
    /* place-content: center;
    display: grid; */
}

.overflow-css {
    width: 500px;
    height: 300px;
    background-color: rgb(192, 186, 186);
    margin: 0px auto;
    border: 1px solid black;
    padding: 10px;
    overflow-y: auto;
}

#main-heading {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}
p {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 200;
}