
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: hsl(0,0%,94%);
    display: grid;
    /* align-items: center; a*/
    place-items: center;
    font-family: "Urbanist", sans-serif;
}
.hero-section{
    width: 50%;
}
h2 {
    font-family: "Urbanist", sans-serif;
    font-weight: 900;
    font-size: 54px;
    font-style: italic;
    /* font-variant: small-caps; */
    text-align: center;
    text-decoration: underline;
    text-decoration-color:red;
    text-transform: capitalize;
    text-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);
}

p,
a{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    line-height: 1.56;

}

li{
    font-family: "Urbanist", sans-serif;
    font-size: 15px;
    font-weight: 250;
}

p::first-letter{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;

}