*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(140, 167, 167);
}
#main-heading {
    padding: 40px 0;
    font-weight:bold;
    font-size: 48px;
    color: #f4f3f1;
    text-align: center;

}
p{
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 18px;
}

.section-one {
    width: 800px;
    background-color: #5e9de9;
    color: #fff;  
     padding: 50px;
     border:2px solid black;
     margin: 0 auto;
}

