* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hwb(0 18% 81%);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 40px;
}
.box {
    width: 100px;
    aspect-ratio: 1;
    background-color: #4861ec;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #353f6d;
    transition: all 2s;
}

.box:nth-child(1):hover {
    transition-timing-function: ease;
    translate: 90vw 0;
}
.box:nth-child(2):hover {
    transition-timing-function: ease-in;
    translate: 90vw 0;
}
.box:nth-child(3):hover {
    transition-timing-function: ease-in-out;
    translate: 90vw 0;
}
.box:nth-child(4):hover {
    transition-timing-function: ease-in-end;
    translate: 90vw 0;
}