@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html {
    font-family: "Urbanist", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3639;
    
}

.grid-container {
    width: 80%;
    margin: 100px auto;
    background-color: #dcd7c9;
    color: #fff;

    /* Grid Properties */
    display: grid;
    /* grid-template-rows:250px 250px; */

    grid-template-rows: repeat(2, 250px);
    grid-auto-rows: 250px;
    
    /* grid-template-columns: 250px 250px 250px; */

    /* grid-template-columns: 250px 250px 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */

    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        
        
    gap: 50px;
        /* align...... */

        /* align-items: self-start; */
        /* align-items: self-end; */
        /* align-items: center; */
         /* align-items: stretch; */

        /* Justify horizontally...... */

        /* justify-items: start; */
        /* justify-items: end; */
        /* justify-items: center; */
        /* justify-items: stretch; */

     
}


.item {
    display: grid;
    place-items: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.item-1 {
    background-color: #662549;

    /* Swap element from their position */
    /* grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; */

    /* New Version.... */
    grid-area: 2 / 2 / 3/ 3;

}

.item-2 {
    background-color: #102c57;
}

.item-3 {
    background-color: #454545;
}
.item-4 {
    background-color: #113945;
}

.item-5 {
    background-color: #884a39;
}

.item-6 {
    background-color: #85586f;
}