* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("./images/background-images.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

img{
    width: 200px;
    position: absolute;
    mix-blend-mode: multiply;
    background-color: transparent;
    bottom: 25%;
    animation: rotate 2s linear;
    animation-iteration-count: infinite;
   
}

@keyframes rotate {
   0% {
    translate: 0%;
  }
  100% {
    translate: calc(100vw - 200px);
  }
}