* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #191825;

    /* .......1st methods...... */

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    
    /* .......2nd methods...... */

    /* position: relative; */

    /* .......3rd methods...... */

    /* display: grid;
    justify-content: center;
    align-items: center; */


    /* .......4th methods...... */
    display: grid;
    place-items: center;

    

}

.child {
    width: 200px;
    height: 200px;
    background-color: #856dff;
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

     /* .......2nd methods...... */

    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */

    

}