*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    padding: 5rem 10rem;
    
}

#main-heading{
    color: #514a9d;
    text-align: left;
}

.parent-div {
    height:500px;
    width: 600px;
    color: #fff;
    background-image:linear-gradient(to right,#514a9d,#24c6dc) ;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 4px 12px;
    border-radius: 15px;
    margin: 10px;

}
.child {
    width: 100px;
    height: 100px;
    background-color: rgb(82, 238, 103);
    display: grid;
    font-size: 32px;
    color: #003180;
    place-items: center;
    border-radius: 10px;
}
.child:nth-child(2),
.child:nth-child(4) {
    background-color: #24c6dc;
}

.parent-div {
    position: relative;
    left: 200px;
}
.child {
    position: absolute;
}

.child-1{
    top: 0;
    right: 0;
}

.child-2 {
    bottom: 0;
}

.child-3 {
    bottom: 0;
    right: 0;
}

.child-5 {
    left: 250px;
    top: 200px;
}


